# azure-pipelines.yml - Deploy Django app to Azure Web App (Linux)
trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  pythonVersion: '3.11'      # ajuste se necessário
  venvPath: 'antenv'
  artifactName: 'drop'

steps:
- checkout: self

- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(pythonVersion)'
  displayName: 'Use Python $(pythonVersion)'

- script: |
    python -m venv $(venvPath)
    source $(venvPath)/bin/activate
    pip install --upgrade pip
    pip install -r requirements.txt
    # Ajuste o nome do settings/module se necessário
    python manage.py collectstatic --noinput
    python manage.py migrate --noinput
  displayName: 'Install deps, collectstatic & migrate'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true
  displayName: 'Archive source to zip'

- publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
  artifact: $(artifactName)
  displayName: 'Publish artifact'

- task: AzureWebApp@1
  inputs:
    azureSubscription: '<NOME_DA_SUA_SERVICE_CONNECTION>'   # <--- trocar
    appName: 'sistemasbrkb'                                # <--- trocar se diferente
    package: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
  displayName: 'Deploy to Azure Web App'
